<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}PoliticIA{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <header>
    <span class="logo-link" onclick="window.location.href='{{ url_for('index') }}'">
      PoliticIA
    </span>
    Não caia na mentira. Caia na real.
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    © 2025 PoliticIA — Projeto Educacional |
    <a href="/sobre">Sobre</a> |
    <a href="/politica-privacidade">Política de Privacidade</a>
  </footer>

</body>
</html>
